<br><br>
<div align="center">
<a routerLink="">singup</a>   |
<a routerLink="/login">Login</a>  |
<a routerLink="/changepassword">changepassword</a>  |
<a routerLink="/forgetpassword">forgetpassword</a>  |
<a routerLink="/todo">Todo</a>  |
<a routerLink="/categoryview">Categoryview</a>  |
<a routerLink="/subcategorylist">SubCategoryList</a>    |
<a routerLink="/productview">Productview</a>    |
<a routerLink="/cartlist">Cartlist</a>  |
<a routerLink="/cartadd">cartadd</a>    |


</div>
<br><br>
<router-outlet></router-outlet>



